{% load static %}
{% block content %}
<!-- Horizontal Navbar -->
<div class="navbar" style="background: url('{% static 'images/background.jpg' %}') no-repeat center center fixed; background-size: cover;overflow: hidden;">
    <div class="logo">ABC Company</div>
    <div class="logout">
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
    <h2 class="sidebar-title">Admin Portal</h2>
    <ul class="sidebar-menu">
        <li><a href="{% url 'admin_dashboard' %}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{% url 'add_employee' %}"><i class="fas fa-user-plus"></i> Add Employee</a></li>
        <li><a href="{% url 'view_employees' %}"><i class="fas fa-users"></i> View Employees</a></li>
        <li><a href="{% url 'upload_attendance' %}"><i class="fas fa-calendar-check"></i> Upload Attendance</a></li>
        <li><a href="{% url 'leave_requests' %}"><i class="fas fa-user-clock"></i> Approve Leave</a></li>
        <li><a href="{% url 'predict_salary' %}"><i class="fas fa-chart-line"></i> Salary Prediction</a></li>
        <li><a href="{% url 'report_view' %}"><i class="fas fa-paper-plane"></i> Report</a></li>
        {% comment %} <li><a href="{% url 'tax_input' %}"><i class="fas fa-file-invoice-dollar"></i> Tax Details</a></li> {% endcomment %}
        <li><a href="{% url 'salary_operations' %}"><i class="fas fa-money-check-alt"></i> Salary Operations</a></li>
    </ul>
    
</div>
{% endblock %}